img {
  margin: auto;
  width: 25%;
  padding: 10px;
}

body {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  background-color: #4DE3F5;
}

.container-fluid {
  background-color:#E6F4F1;
}

.active, .btn {
  background-color:#D57FC8;
}
h1 {
  font-family: 'Fredoka One', cursive;
}

h2 {
  font-family: 'Fredoka One', cursive;
}

.form-group {
  text-align: left;
  /* margin-right: 150px;
  margin-left: 150px; */
}

.well {
/* padding: 50px; */
margin: auto;
width: 60%;
padding: 10px;
background-color: rgba(255,255,255,0.4);

}

.col-md-6 {
  text-align: left;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 10px;

}


