img {
  margin: auto;
  width: 25%;
  padding: 10px;
}

body {
  /* padding: -30px; */
  font-family: 'Fredoka One', cursive;
  text-align: center;
  /* margin: 70px; */

}

h1 {
  font-family: 'Fredoka One', cursive;
}

h2 {
  font-family: 'Fredoka One', cursive;
}

.form-group {
  text-align: left;
  /* margin-right: 150px;
  margin-left: 150px; */
}

.well {
/* padding: 50px; */
margin: auto;
width: 60%;
padding: 10px;
background-color: rgba(255,255,255,0.4);

}


